<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Search by title"
                [(ngModel)]="title"
            />
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchTitle()"
                    >
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Blog post list</h4>
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let blogPost of blogPosts; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveBlogPost(blogPost, i)"
            > {{ blogPost.title }}</li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBlogPosts()">
            Remove All
        </button>
    </div>

    <div class="col-md-6">
        <app-blog-post-details
            [viewMode]="true"
            [currentBlogPost]="currentBlogPost"
        ></app-blog-post-details>
    </div>
</div>
